<section id="sampul">
    <div class="container h-100 container_sampul">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="row">
                    <!-- Mempelai -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center flower_bordered"
                        data-aos="fade-down" data-aos-duration="1000">
                        <h2 class="text-coklat font-petite-script fw-normal mb-4 text-shadow">
                            Kiki
                            <br>
                            <span class="fs-6 fw-light text-coklat">
                                &
                            </span>
                            <br>
                            Sandy
                        </h2>
                    </div>

                    <!-- Kepada Yth dll -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="text-coklat fw-light font-inter mb-2 font-12" data-aos="fade-down"
                            data-aos-duration="1100">
                            Kepada Yth Bpk/Ibu/Saudara/i
                        </p>
                        <h3 class="text-coklat fw-semibold font-inter mb-4 text-italic" data-aos="fade-down"
                            data-aos-duration="1200">
                            {{ Penerima | titlecase }}
                        </h3>
                        <p class="text-coklat fw-light font-inter mb-4 font-12 px-5" data-aos="fade-down"
                            data-aos-duration="1300">
                            Kami Mengundang Anda Untuk Menghadiri Acara Pernikahan Kami
                        </p>
                        <button data-aos="fade-down" data-aos-duration="1400" class="btn btn-coklat btn-sm"
                            type="button" (click)="handleOpenInvitation()">
                            Buka Undangan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>